[Unit]
Description=UTAT Worker
After=network-online.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/.utat-worker/venv/bin/utat worker
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
